body {
    font-family: 'Arial', sans-serif;
    background-color: #f5e3e4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #90143c;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(242, 226, 226, 0.1);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.logoimage {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: auto;
    transform: translateX(-50%);
}

h1 {
    color: #f5eaea;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;
    box-sizing: border-box;
}

/* Focus Styling */
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
    padding: 15px;
    background-color: #ffffff;
    color: rgb(2, 0, 0);
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #170505;
    color: #ffffff;
}

#errorMsg {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

/* Responsive Design for Small Screens (below 768px) */
@media (max-width: 768px) {
    .container {
        width: 200%;
        padding: 20px;
    }

    h1 {
        font-size: 26px;
    }

    input[type="text"], input[type="password"], button {
        font-size: 14px;
        padding: 12px;
    }

    input[type="text"], input[type="password"] {
        margin: 8px 0;
    }

    button {
        padding: 12px;
    }
}
